@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
a{
 text-decoration: none;

}
body{
  background-color: #1a1f1e;
  font-family: 'Montserrat', sans-serif;
}

    
h1{
  text-align: center;
  margin: 25px;
  color: white;
}
.lista {

  width: 450px;
  margin: auto;
  color: white;
 
}
li:hover{
  font-size: 15px;
  color: #6cbdb5;
}

.rodape {
  padding: 10px 0px;
  margin-top: 50px;
}

.texto-rodape {
  text-align: center;
  color: white;
  font-size: 10px;
  padding-top: 5px;
}

.texto-rodape:hover {
  color: gold;
}

.titulo {
  margin-top: 20px;

}

.voltar {
  color: #1a1f1e;
  background-color: #6cbdb5;
  padding: 5px;
  border-radius: 5px;
  margin: 15px;
}
